.section01{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4vw;
    width: 100%;
    height: auto; 
    margin-top: 80px;
    padding-top: 10vh;  
}